<div class="container">
<br>
<h1>Editando Anuncio</h1>

<%= render 'form', anuncio: @anuncio %> 

<%= link_to 'Ver Anúncio Completo', @anuncio, class:"btn btn-info" %> | <%= link_to 'Voltar', anuncios_path, class:"btn btn-danger" %>
</div>