<div class="container">
        <br>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="alert alert-success" role="alert">
                    E-mail enviado com sucesso!<br><br>
                    Agora é só aguardar a resposta do anunciante.
                </div> 
            </div>
            <div class="col-lg-12 text-center">
                <div class="alert alert-info" role="alert">
                    Dê uma olhada na sua caixa de mensagens.<br><br>
                    Enviaremos um E-mail para você com mais informações.
                </div> 
            </div>
            <%= link_to 'Voltar aos Anúncios',:back, class: "btn btn-lg btn-danger" %>
            
        </div>
</div>